input {
  border: solid 1px black;
}

.logo {
  padding: 0 0 30px 445px;

  h1 {
    text-align: left;
    font-weight: bold;
  }
}

.new-item {
  padding: 0;
  margin: 0 20px 0 0;
}

.all-items {
  padding: 0;
  margin: 0;

  li {
    display: block;
    list-style-type: none;
  }
}

.bottom {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-delete {
  color: #fff;
  background-color: #CF000F;
  border-color: #CF000F;
}

.quantity {
  display: inline;
  margin: 0 5px;
}
